{% load static %}
{% include 'navbar.html' %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />

<style>
  .fitness{
    font-family: FSHackney-regular, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 48px;
    font-size: 32px;
    margin: 0px 0px 16px;
    {% comment %} text-align: center; {% endcomment %}
    letter-spacing: 14.86px;
  }
  .caption{
    line-height: 20px;
    font-family: FSHackney-regular, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 24px 0px;
    text-transform: uppercase;
    {% comment %} text-align: center; {% endcomment %}
    letter-spacing: 6px;
    font-weight: 400;
  }

</style>



{% comment %} About Section Main Page Starts {% endcomment %}
 <main>
  <section class="section py-5">
    <div class="container py-5 text-white">
      <div class="row py-3">
        <div class="col-lg-10">
          <h1
            class="fitness text-primary text-uppercase lh-large text-bold mt-5 m-0"
          >
            LET THE GAINS BEGIN
          </h1>
          <p class="caption m-0 mt-3 lh-base">
            BECOME THE FITTEST PERSON YOU KNOW
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- ##### More section###### -->

  <section class="startnow pb-5 mt-5" id="startnow">
    <div class="container container-start-now">
      <div class="row">
        <h3 class="text-center mt-5" id="tribe">
          WELCOME TO OUR QUERENCIA
        </h3>
        <p class="text-center mt-4" id="para">
          Sweaty Athletic is more than just a workout. It's a querencia. A place to define your line and then we help you cross it. Discover </br>
          the next level fitness experince that refuses to cur corners when </br>
          it comes to quality, atmosphere and vibe. </br>
           Welcome to our tribe.
        </p>
      </div>
    </div>
  </section>


    <!-- This is our tribe -->

  <section class="startnow pb-3" id="startnow">
    <div class="container container-start-now">
      <div class="row">
        <h3 class="text-center mt-5" id="tribe">
            THIS IS OUR TRIBE
        </h3>
          <p class="text-center mt-4" id="para">
            This is your next level gym where everything becomes possible. Where Star Trainers crush your limits and make you run faster, lift more, </br>
            punch harder and get shredded. Our workout experiences are a revolution for your body, mind and soul, </br>
            and designed to burn up to 1000 calories and build muscle at the same time.</br>
            Let’s cross the line!
          </p>
      </div>
    </div>
  </section>

  {% comment %} Equipment description {% endcomment %}

  {% comment %} <div class="equip col-lg-6 pr-lg-5 order-lg-1 pb-3 mb-4" id="box-shadow">
    <div class="container container-start-now">
      <div class="row">
        <h3 class="text-center mb-5 mt-5" id="fitness">
          SWEATY ATHLETIC EQUIPMENT
        <h3>
        <div class="mb-lg-0 text-center text-md-left about-desc" id="desc">
          <p>Excelling at the highest levels of quality and control, Global Fitness continues to grow and develop
            its market segment by never settling and consistently executing ideas at new heights.</p>
          <p></p>
    
          <p>Loved by our clients and envied by our competitors we are always a few steps ahead, ensuring that we deliver
             a “like new” purchase experience that starts at conception, through point of sale, and continuing with the
              after sales service and beyond. If you are looking for the highest quality equipment at more affordable,
               sensible pricing, you need look no further.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light bg-img" id="equipment">
    <div class="img-blk">
      <img src="" alt="">
    </div>
  </div> {% endcomment %}


  {% comment %} Grid {% endcomment %}

  <section class="grid pb-3 mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="Heading-sc-1ejq5fa-0 kNHaAI">BURN UPTO 1000 calories</h3>
          <p class="Text-sc-w62x9v-0 ilsOqB mt-3">We burn more calories in 15 min than a 1-hour treadmill run.</p>
        </div>

        <div class="col">
          <h3 class="Heading-sc-1ejq5fa-0 kNHaAI">BOOST METABOLISM</h3>
          <p class="Text-sc-w62x9v-0 ilsOqB mt-3">You’ll burn calories long after your workout is done (we love this part too).</p>
        </div>

        <div class="row mt-5">
          <div class="col">
            <h3 class="Heading-sc-1ejq5fa-0 kNHaAI">BUILD AND TONE MUSCLES</h3>
            <p class="Text-sc-w62x9v-0 ilsOqB mt-3">By targeting the cellular structure, we work the body just right to build your ultimate ‘shredded’ look.

          </p>
          </div>
  
        <div class="col">
            <h3 class="Heading-sc-1ejq5fa-0 kNHaAI">EFFECTIVE ENERGY USE</h3>
            <p class="Text-sc-w62x9v-0 ilsOqB mt-3">By targeting the cellular structure, we work the body just right to build your ultimate ‘shredded’ look.</p>
        </div>
      </div>
    </div>
  </section>

  {% comment %} Holy Workouts {% endcomment %}
  <section class="startnow pb-3 mt-5" id="startnow">
    <div class="container container-start-now">
      <div class="row">
        <h3 class="text-center mt-5" id="tribe">
            OUR HOLY WORKOUTS
        </h3>
          <p class="text-center mt-4" id="para">
            5 Workouts, 1 Tribe. Get ready for a complete mind shift. We offer 5 contagious HIIT workout experiences;Holy Booty, Holy Box, Holy Build,</br>
             Holy Shred and Holy Ride. When you throw enough fitness fanatics into a room and </br>
              give them a legendary energetic leader, that’s when the magic happens.
            
          </p>
      </div>
    </div>
  </section>

  {% comment %} Carousel slide {% endcomment %}

 
  <div class="container-fluid my-5">
    {% include 'carousel.html' %}
</div>

  {% comment %} Premium gym {% endcomment %}

  <section class="startnow pb-3 mt-5" id="startnow">
    <div class="container container-start-now">
      <div class="row">
        <h3 class="text-center mt-5" id="tribe">
            OUR PREMIUM GYM
        </h3>
          <p class="text-center mt-4" id="para">
            Curious what premium feels like? In our large open gym area, you can design your ultimate workout, and unleash yourself to the fullest.</br>
             Or step up your game and let our Personal Trainers draft you a complimentary action plan and start with challenging</br>
              1-on-1 training. We are dedicated to help you reach your goals.
            
          </p>
      </div>
      {% include 'premium.html' %}
    </div>
  </section>
</main>

{% include 'footer.html' %}



