{% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="premium.css">
    <title>Sweaty Athletic</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

      * {
        font-family: "Poppins", sans-serif;
      }

      img {
        height: 280px;
      }

      body {
        background: hsl(0, 0, 94%);
      }
    </style>

    <div class="container-fluid my-5">
      {% comment %} <h5 class="text-center display-1 mb-3">Our Holy Workout</h5> {% endcomment %}
      <div class="row">
        <div class="col-12 m-auto">
          <div class="owl-carousel owl-theme">
            <div class="item mb-4">
              <div class="card border-0 shadow">
                <img src="https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1075&q=80" alt="" class="card-img-top" />
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>HOLY RIDE</h4>
                    <span
                      >A high intensity, rythm based ride where you get carried
                      away by the best track immersive light shows and epic
                      on-stage performance.The result? Goosebumps
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="card border-0 shadow">
                <img src="https://images.pexels.com/photos/1480520/pexels-photo-1480520.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="card-img-top" />
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>HOLY BOOTY</h4>
                    <span
                      >A true bad-ass workout. During this 50-minute workout you
                      will be using the stairs masters, weights & our booty
                      band, to give you the ultimate booty building experience.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card border-0 shadow">
                <img src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="card-img-top" />
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>HOLY SHRED</h4>
                    <span
                      >As much a workout as a complete mindshift. Our high
                      intensity cardio workout utilizes all the
                       tools of the bootcamp trade to help you </br>
                        slim down and buff up.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card border-0 shadow">
                <img src="https://images.pexels.com/photos/5128256/pexels-photo-5128256.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="card-img-top" />
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>HOLY BOX</h4>
                    <span
                      >Step into the zone. Our HITT workout focuses on speed,
                      balance & agility. This explosive 50-minute
                       boxing session is most of all a </br>
                      battle against yourself.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card border-0 shadow">
                <img src="https://images.pexels.com/photos/12890887/pexels-photo-12890887.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="" class="card-img-top" />
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>HOLY BUILD</h4>
                    <span
                      >Lets build a better you with our small group,
                      technique-based Holy workout. This 50-minute
                       class aims to build confidence, </br>
                        strength and performance.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
    ></script>
    <script>
      $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 15,
        nav: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 2,
          },
          1000: {
            items: 3,
          },
        },
      });
    </script>
