{% load static %} 

{% include 'navbar.html' %}


<link rel="stylesheet" href="{% static 'css/contact.css' %}" />

<div class="container1">
  <div class="row">
    <div class="text col-md-7">
      <h4>Get in touch</h4>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Enter your name"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="Enter your email"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label"
          >Contact Number</label
        >
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="Enter your number"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Message</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <button class="btn btn-primary">Submit</button>
    </div>
    <div class="title col-md-5">
      <h4>Contact us</h4>
      <hr />
      <div class="mt-4">
        <div class="d-flex">
          <i class="bi bi-geo-alt-fill"></i>
          <p>Address: Bouddha-Sankhu Rd, Makalbari Gate. Kathmandu, 44600</p>
        </div>
        <hr />
        <div class="d-flex">
          <i class="bi bi-telephone-fill"></i>
          <p>Contact :- 9880928192</p>
        </div>
        <hr />
        <div class="d-flex">
          <i class="bi bi-envelope-fill"></i>
          <p>Email:- sweaty_09@gmail.com</p>
        </div>
        <hr />
        <div class="d-flex">
          <i class="bi bi-browser-chrome"></i>
          <p>Website: www.sweatyathlete.com</p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>

{% comment %} {% include 'footer.html' %} {% endcomment %}
