{% load static %} {% include 'navbar.html' %}

<style>
    .mainx{
        background: url(https://th.bing.com/th/id/R.7341f4c2baae209ba4d2d6d558f84c2b?rik=i3CliCwAGSsNkw&pid=ImgRaw&r=0)
        no-repeat;
        background-size: cover;
        height: 80vh;
    }
    .jkiwjy{
        line-height: 20px;
        font-family: FSHackney-regular, sans-serif;
        font-size: 20px;
        color: rgb(255, 255, 255);
        margin: 24px 0px 0px;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 6px;
        font-weight: 400;
    }
    .bWMmSE{
        font-family: FSHackney-regular, sans-serif;
        font-style: normal;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 48px;
        font-size: 32px;
        margin: 8px 0px;
        text-align: left;
        letter-spacing: 14.86px;
    }
    .personal_training {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: black;
      }
      #personal_1 {
        font-family: "Times New Roman", Times, serif;
        color: #302930;
        font-size: medium;
      }
    
      #personal_train {
        font-size: calc(1.3rem + 0.6vw);
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        font-family: "Poppins", sans-serif;
      }
      .kNHaAI{
        line-height: 20px;
        font-family: FSHackney-regular, sans-serif;
        font-size: 20px;
        margin: 0px 0px 8px;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 6px;
        font-weight: 700;
        color: rgb(0, 0, 0);
      }
      .JAUWI{
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      margin: 0px;
      font-family: FSHackney-regular, sans-serif;
      letter-spacing: 1px;
      color: rgb(152, 152, 152);
      }
     .iWDXFR{
        min-width: 0px;
        letter-spacing: 2px;
        height: 48px;
        border-radius: 48px;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: row;
        font-family: FSHackney-regular, sans-serif;
        font-size: 14px;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        transition: all 0.2s ease-in 0s;
        text-decoration: none;
        border: none;
        background-color: rgb(41, 22, 186);
        color: rgb(255, 255, 255);
        padding: 17px 31px;
        width: 20%;
     }
     .kTDAfO{
        font-family: FSHackney-regular, sans-serif;
        color: rgb(0, 0, 0);
        font-weight: 400;
        line-height: 40px;
        size: 24px;
        text-transform: uppercase;
        letter-spacing: 6px;
        text-align: center;
     }
     .ktHxSQ{
        line-height: 24px;
        font-size: 16px;
        font-weight: 200;
        margin: 0px;
        font-family: FSHackney-regular, sans-serif;
        letter-spacing: 1px;
        color: rgb(127, 120, 128);
     }

</style>

<main class="xyz mb-5">
  <section class="mainx py-5">
    <div class="container py-5 text-white">
      <div class="row py-3">
        <div class="col-lg-10">
          <h3 class="m-0 mt-3 jkiwjy">UNLIMITED GOLD</h3></br>
          <h1 class="Headline__Headline1-sc-rg4g2a-0 bWMmSE" style="opacity: 1; transform: translateY(0%) translateZ(0px);">MEMBERSHIP</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="personal_training pb-5 mt-5" id="personal">
    <div class="container container-start-now">
      <div class="row">
        <h3 class="text-center mt-5" id="personal_train">BECOME A GOLD MEMBER</h3>
        <p class="text-center mt-4" id="personal_1">
            At Sweaty Athletic you define your line and we give you everything we've got to help you cross it. Discover the sweaty fitness experience that refuses to cut<br>
             corners when it comes to quality, atmosphere and vibe. Join our tribe and live the golden life.<br>
              These benefits are included in your membership:
        </p>
      </div>
    </div>
  </section>

  <section class="grid pb-3 mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="Heading-sc-1ejq5fa-0 kNHaAI">UNLIMITED WORKOUTS</h3>
          <p class="Text-sc-w62x9v-0 ilsOqB mt-3 JAUWI">Get unlimited workouts. That means unlimited Holy classes and unlimited Open Gym sessions in all our clubs. Sounds amazing right?!
          </p>
        </div>

        <div class="col">
          <h3 class="Heading-sc-1ejq5fa-0 kNHaAI">PERSONAL TRAINING</h3>
          <p class="Text-sc-w62x9v-0 ilsOqB mt-3 JAUWI">To surpass your objectives, you will begin with one personal training session that will be completely dedicated to teaching and guiding you.</p>
        </div>

        <div class="row mt-5">
          <div class="col">
            <h3 class="Heading-sc-1ejq5fa-0 kNHaAI">HOLY FRIENDS</h3>
            <p class="Text-sc-w62x9v-0 ilsOqB mt-3 JAUWI">Gain entry to privileged offers and benefit from reduced prices at upscale hotels, restaurants, fashion labels, beauty clinics, and various other establishments.

          </p>
          </div>
  
        <div class="col">
            <h3 class="Heading-sc-1ejq5fa-0 kNHaAI">VIP EVENTS</h3>
            <p class="Text-sc-w62x9v-0 ilsOqB mt-3 JAUWI">Are you prepared to give it your all? Our Gold membership ensures that you never miss out on any events or club nights, as you'll have VIP access every time.</p>
        </div>
      </div>
    </div>

    {% comment %} <div class="col-12 mt-5 mb-5" id="book_session">
        <button
          type="submit"
          class="btn btn-outline-primary text-dark ps-4 pe-4"
          id="book_session1"
        >
          <a class=" text text-dark text-bold" href="">BECOME A MEMBER </a>
        </button>
      </div> {% endcomment %}
      <a iconposition="center" variant="CTA" class="styled__StyledButton-sc-1y2tzej-2 iWDXFR mt-5" href="/pricing/"><span>BECOME A MEMBER</span></a>
  </section>

  <section class="startnow pb-3 mt-5" id="startnow">
    <div class="container container-start-now">
      <div class="row">
        <h2 class="Headline__Headline2-sc-rg4g2a-1 text-center kTDAfO">OUR CONCEPTS</h2>
      </div>
    </div>
  </section>
  <div class="container-fluid my-5">
    {% include 'carousel.html' %}
</div>

<section class="startnow pb-3 mt-5" id="startnow">
    <div class="container container-start-now">
      <div class="row">
        <h2 class="Headline__Headline2-sc-rg4g2a-1 kTDAfO">BECOME A MEMBER</h2>
        <p class="text-center mt-4" id="personal_1">
            For a commitment period of 12 months, you can access unlimited workouts and exclusive membership perks for just 20000 every four weeks,<br>
             which amounts to 1000 per session if you exercise three times a week. If you prefer a more flexible option,<br>
              you can opt for our 'Gold Flex' membership for 30000 per four weeks.
        </p>
        
  </section>

  <div class="row">
    {% for i in plan %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">{{i.Name}}</h5>
          <p class="card-text text-center">Rs {{i.Price}},- </br>
            per 4 weeks
          </p>
          <p class="text-center" id="para">
            {{i.Description}}</br>
          </p>

          <div class="col-12 mb-5" id="btn">
            {% if request.user.is_authenticated %}
                {% if request.user.user_type == 'Customer' %}
                <form method="post" action="/customer_dashboard/cart/">
                  {% csrf_token %}
                  <input type="text" class="d-none" name="id" value="{{i.id}}" />
                  <input type="text" class="d-none" name="type" value="Membership" />
                  <input type="text" class="d-none" name="price" value="{{i.Price}}" />
                  <button
                  type="submit"
                  class="btn ps-2 pe-2"
                  id="btn1"
                  >
                  BUY NOW
                </button>
                </form>
                {% elif request.user.user_type == 'Admin' %}
                    <a
                    href="#"
                    class="btn ps-2 pe-2"
                    id="btn1"
                    >
                    Admin
                    </a>
                {% else %}
                    <a
                    href="#"
                    class="btn ps-2 pe-2"
                    id="btn1"
                    >
                    Trainer
                    </a>
                {% endif %}
            {% else %}
                <a
                href="/login/"
                class="btn ps-2 pe-2"
                id="btn1"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                  </svg>BUY NOW
                </a>
            {% endif %}

            <p class="text-center mt-1">{{i.Message}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</main>

{% include 'footer.html' %}
