{% include 'navbar.html' %}
{% load static %}
    <!-- ###### Main Section starts ############3 -->
    <main>
      <section class="main py-5">
        <div class="container py-5 text-white">
          <div class="row py-3">
            <div class="col-lg-10">
              <p class="text-primary mt-5 m-0">BEST PLACE FOR </p>
              <h1 class="m-0 mt-3">Reach Your Body </br>
                 Goals at <span>Sweaty Athletic.</span></h1>

                 <a class="btn btn-primary btn-lg btn-block mt-4" id="joinbtn" href="/signup/">
                    JOIN US
                 </a>
            </div>
          </div>
        </div>
      </section>
      <!-- ##################Details################# -->
      <div class="details">
        <div class="container">
            <div class="row">
              {% for i in upcard %}
                <div class="col-lg-4 mb-2">
                    <div class="card back border-0 py-5 px-3">
                        <div class="card-body">
                            <h5>{{i.Name}}
                            </h5>
                            <p class="py-3">{{i.short_description}}</p>

                            <a href="">-READ MORE</a>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
      </div>

      <!-- ############ More Section ############# -->
      
      <section class="startnow pb-5" id="startnow">
        <div class="container container-start-now">
          <div class="row">
            <h3 class="text-center mt-3" id="tribe"> THIS IS OUR TRIBE</h3>
            <p class="text-center mt-4" id="para">At Sweaty Athletic you define your line and we give you everything we've got to help you cross it. </br>
               Discover the Sweaty fitness experience that refuses to cut corners when it comes to quality, atmosphere and vibe. </br>
               Welcome to our tribe, we’re very happy you’re here.</p>
          </div>
        </div>
        <div class="col-12 mt-5 mb-5" id="button">
          <button
            type="submit"
            class="btn btn-outline-primary text-dark ps-4 pe-4"
            id="btn1"
          >
            <a class= text href="/login/">START NOW</a>
          </button>
        </div>
      </section>

      <!-- Start now section end -->

      <section class="startnow pb-5" id="startnow">
        <div class="container container-start-now">
          <div class="row">
            <h3 class="text-center mt-3" id="tribe"> OUR CONCEPT</h3>
            <p class="text-center mt-4" id="para">We offer 7 contagious Holy Concepts divided over 2 clubs. </br>
              Inspired by boxing, spinning and bootcamp, we designed 3 HIIT workouts: Holy Shred, Holy Ride & Holy Box. </br>
              Wanna build muscle and increase strength? Try our Holy Build & badass workout Holy Booty.</br>
              Is Personal Training or Open Gym more your thing? We've got you covered.</p>
          </div>
          {% comment %} <a class="btn btn-primary btn-lg btn-block mt-4" id="joinbtn" href="/signup/">
            LET'S GO {% endcomment %}
         </a>
        </div>
      </section>

       <!--############ Service Section ###########-->
       <section class= "services pb-5">
          <div class="row pt-5">
            {% for i in cards %}
            <div class="col-lg-4">
              <div class="card back border-0 p-4">
                <div class="card-body">
                  <h5 class="py-3">{{i.Name}}</h5>
                  <p>{{i.Content}}
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </section>


      <!-- ########## Buy Workout section starts ##########-->

      <div class="workout py-5">
        <div class="container py-5">
          <div class="row py-5">
            <div class="col-lg-8">
              <h1>BUY WORKOUTS</h1>
              <p>PAY AS YOU GO THAT'S THE WAY WE ROLL.</br>
                 YOU CAN BUY A SINGLE WORKOUT OR A HANDFUL OF THEM, </br>
                  IT'S UP TO YOU!</p>

              <a class="btn btn-primary btn-lg btn-block mt-4" id="joinbtn" href="/signup/">
            LET'S GO
              </a>
            </div>
          </div>
        </div>
      </div>

      {% comment %} Our Gallery {% endcomment %}

      <section class="gallery py-5">
        <div class="container-fluid py-5">
          <h3 class="text-center">OUR GALLERY</h3>
          <div class="row pt-5">
            {% for i in images %}
            <div class="col-lg-3">
              <img src= "{{i.photos.url}}" class="img-fluid" alt="">
            </div>
            {% endfor %}

          </div>
        </div>
      </section>

      <section class="gallery py-5">
        <div class="container-fluid py-5">
          {% include 'review.html' %}
        </div>
      </section>
    </main>

    {% include 'footer.html' %}