{% include 'navbar.html' %}

<main>
    <section class="main py-5">
        <div class="container py-5 text-white">
          <div class="row py-3">
            <div class="col-lg-10">
              <h1 class="m-0 mt-3">OUR PRICING OF</br>
                SWEATY ATHLETIC</h1>
            </div>
          </div>
        </div>
      </section>

    
      <!-- ##### More section###### -->

  <section class="startnow pb-5 mt-5" id="startnow">
    <div class="container container-start-now">
      <div class="row">
        <h3 class="text-center mt-5" id="tribe">
          MEMBERSHIPS
       
        </h3>
        <p class="text-center">
            For those who truly have no limits: An unlimited Gold membership.
        <p>
        <p class="text-center" id="para">
          .Train unlimited for best value </br>
          .Unlimited access to both club </br>
          .Book workouts 14 days in advance </br>
          .Exclusive golden treatments and events 
        </p>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">GOLD 1 YEAR</h5>
          <p class="card-text text-center">Rs 9852.68,- </br>
            per 4 weeks
          </p>
          <p class="text-center" id="para">
            .Unlimited workouts </br>
            .Freeze your membership for up to 28 days </br>
            .1 intro PT session</br>
          </p>

          <div class="col-12 mb-5" id="btn">
            <button
              type="submit"
              class="btn ps-2 pe-2"
              id="btn1"
            >
              BUY NOW
            </button>

            <p class="text-center mt-1">12 month commitment period. After 11 months,</br>
                you can cancel anytime with a 4-week cancellation period.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">GOLD FLEX</h5>
              <p class="card-text text-center">Rs 15000,- </br>
                per 4 weeks
              </p>
              <p class="text-center" id="para">
                .Unlimited workouts </br>
                .Unlimited freeze options </br>
                .1 intro PT session</br>
              </p>
    
              <div class="col-12  mb-5" id="btn">
                <button
                  type="submit"
                  class="btn ps-2 pe-2"
                  id="btn1"
                >
                  BUY NOW
                </button>

                <p class="text-center mt-1">12 month commitment period. After 11 months,</br>
                    you can cancel anytime with a 4-week cancellation period.</p>
              </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">GOLD FLEX</h5>
              <p class="card-text text-center">Rs 15000,- </br>
                per 4 weeks
              </p>
              <p class="text-center" id="para">
                .Unlimited workouts </br>
                .Unlimited freeze options </br>
                .1 intro PT session</br>
              </p>
    
              <div class="col-12  mb-5" id="btn">
                <button
                  type="submit"
                  class="btn ps-2 pe-2"
                  id="btn1"
                >
                  BUY NOW
                </button>

                <p class="text-center mt-1">12 month commitment period. After 11 months,</br>
                    you can cancel anytime with a 4-week cancellation period.</p>
              </div>
            </div>
        </div>
    </div>
  </div>

  <section class="startnow pb-5 mt-5" id="startnow">
    <div class="container container-start-now">
      <div class="row">
        <h3 class="text-center mt-5" id="tribe">
          WORKOUTS
        </h3>
        <p class="text-center">
            Start now with our Holy workouts. Just pay as you go,</br>
            that's the way we roll.
        <p>
      </div>
    </div>
  </section>

  <div class="workout py-5">
    <div class="container py-5">
      <div class="row py-5">
        <div class="col-lg-8">
          <h3>TWO WORKOUTS (FIRST TIMER)</h3>
          <p> Valid for 14 days</p>

          <a class="btn btn-primary btn-lg btn-block mt-4" id="joinbtn" href="">
            BUY NOW
          </a>
        </div>
      </div>
    </div>
  </div>

    <section class= "services pb-5">
        <div class="row pt-5">
        <div class="col-lg-3">
            <div class="card back border-0 p-4">
            <div class="card-body">
                <h5 class="py-3 text-bold">1 WORKOUT</h5>
                <p>Rs 1655.91,-</br>
                    Per Workout</br>
                    Rs 1655.91,- in total
                </p>
                <div class="col-12 mb-5" id="btn">
                    <button
                    type="submit"
                    class="btn ps-2 pe-2"
                    id="btn1"
                    >
                    BUY NOW
                    </button>
        
                    <p class="mt-1">Valid for 12 months</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card back border-0 p-4">
            <div class="card-body">
                <h5 class="py-3 text-bold">5 WORKOUTS</h5>
                <p>Rs 1655.91,-</br>
                    Per Workout</br>
                    Rs 1655.91,- in total
                </p>
                <div class="col-12 mb-5" id="btn">
                    <button
                    type="submit"
                    class="btn ps-2 pe-2"
                    id="btn1"
                    >
                    BUY NOW
                    </button>
        
                    <p class="mt-1">Valid for 12 months</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card back border-0 p-4">
            <div class="card-body">
                <h5 class="py-3 text-bold">10 WORKOUTS</h5>
                <p>Rs 1655.91,-</br>
                    Per Workout</br>
                    Rs 1655.91,- in total
                </p>
                <div class="col-12 mb-5" id="btn">
                    <button
                    type="submit"
                    class="btn ps-2 pe-2"
                    id="btn1"
                    >
                    BUY NOW
                    </button>
        
                    <p class="mt-1">Valid for 12 months</p>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card back border-0 p-4">
            <div class="card-body">
                <h5 class="py-3 text-bold">20 WORKOUTS</h5>
                <p>Rs 1655.91,-</br>
                    Per Workout</br>
                    Rs 1655.91,- in total
                </p>
                <div class="col-12 mb-5" id="btn">
                    <button
                    type="submit"
                    class="btn ps-2 pe-2"
                    id="btn1"
                    >
                    BUY NOW
                    </button>
        
                    <p class="mt-1">Valid for 12 months</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    
    </section>

    <section class="startnow pb-5 mt-5" id="startnow">
        <div class="container container-start-now">
        <div class="row">
            <h3 class="text-center mt-5" id="tribe">
            PERSONAL TRAINING
            </h3>
            <p class="text-center">
            Experience our personal training program</p>
        </div>
        </div>
    </section>

    <div class="personal py-3">
        <div class="container py-3">
          <div class="row py-5">
            <div class="col-lg-8">
              <h3>PERSONAL TRAINING</h3>
              <p>No matter your goal, we'll get you there!</p>
    
              <a class="btn btn-lg btn-block mt-4" id="joinbtn" href="">
                READ MORE
              </a>
            </div>
          </div>
        </div>
      </div>


</main>



{% include 'footer.html' %}