{% load static %} 

{% include 'navbar.html' %}

<style>
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    display: flex;
    height: 100vh;
  }
  
  .rev-section1{
    margin: auto;
    padding: 0 1rem;
    max-width: 1100px;
    text-align: center;
  }
  
  .review_title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(50, 50, 50);
    margin-bottom: .5rem;
  }
  .caption{
    font-size: 1.1rem;
    color: rgb(150, 150, 150);
    font-style: italic;
      color: red;
    font
  
  }
  
  #reviews_1{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
  }
  #review_2{
    margin: 0 1rem;
    min-width: 300px;
    flex: 1;
  }
  
  .head-review{
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
  }
  
  .body-review{
    background-color: rgb(238, 238, 238);
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
  }
  .name-review{
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
  }
  .place-review{
    color: red;
    font-style: italic;
  }
  .rating{
    color: rgb(253, 180, 42);
    margin: 1rem 0;
  }
  .desc-review{
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
  }
  
  @media (max-width: 678px){
    .review{
      margin-top: 1.5rem;
    }
  }
</style>

<body>
<div class="rev-section1">
  <h5 class="review_title">Words from our customers</h5>
  <p class="caption">Count the memories not the calories ~ SWEATY ATHLETIC</p>

  <div class="reviews" id="reviews_1">
    <div class="review" id= "review_2">
      <div class="head-review" id="head-review_1">
        <img src= "{% static 'images/ken.png' %}" width="250px" />
      </div>
      <div class="body-review">
        <div class="name-review">Kenzie</div>
        <div class="place-review">Baluwatar, Kathmandu</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half"></i>
        </div>
        <div class="desc-review">
          Sweaty Athletic has been awesome to me. Their trainers are
          exceptional, the overall vibe is great and I had nothing but good
          experiences. I defenitely recommend them to my friends and family.
        </div>
      </div>
    </div>
    <div class="review">
      <div class="head-review">
        <img src="{% static 'images/puza.png' %}" width="250px" />
      </div>
      <div class="body-review">
        <div class="name-review">Puza</div>
        <div class="place-review">Lazimpat, kathmandu</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="desc-review">
          Hands down, best choice I’ve made training at sweaty athletic.
          VERY friendly team who make me actually want to go train. I look
          forward to walking through the doors and always feel amazing when
          I leave.
        </div>
      </div>
    </div>
    <div class="review">
      <div class="head-review">
        <img src="{% static 'images/abi.png' %}" width="250px" />
      </div>
      <div class="body-review">
        <div class="name-review">Owen</div>
        <div class="place-review">Basundhara, Kathmandu</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half"></i>
        </div>
        <div class="desc-review">
          This is a fantastic gym!! All the trainers are super nice and take
          an interest in you no matter what fitness level you’re at. I
          really like how they give me tips and tricks to get the most out
          of every workout. 
      </div>
    </div>
  </div>

  <div class="reviews">
    <div class="review">
      <div class="head-review">
        <img src="{% static 'images/nisha.png' %}" width="250px" />
      </div>
      <div class="body-review">
        <div class="name-review">Nisha</div>
        <div class="place-review">Swayambhu, kathmandu</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half"></i>
        </div>
        <div class="desc-review">
            By far the best facility around. This new location is mint
            from the staff, to the equipment, to the facility itself. From
            the ownership, to management, to the trainers, by far the
            nicest and most knowledgeable staff in the business today. I
            wouldn’t hesitate to recommend sweaty atheletic to anyone.
        </div>
      </div>
    </div>
    <div class="review">
      <div class="head-review">
        <img
          src="{% static 'images/bishesh.png' %}"
          width="250px"
        />
      </div>
      <div class="body-review">
        <div class="name-review">Bishesh</div>
        <div class="place-review">Balaju, Kathmandu</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="desc-review">
            AMAZING GYM, AMAZING WORKOUTS! The staff here is incredibly
            friendly and extremely qualified! They know how to push you to
            the limit in the best way possible with your workouts. You
            will not leave disappointed!I highly recommend checking this gym out.
        </div>
      </div>
    </div>
    <div class="review">
      <div class="head-review">
        <img
          src="{% static 'images/akriti.png' %}"
          width="250px"
        />
      </div>
      <div class="body-review">
        <div class="name-review">Akriti</div>
        <div class="place-review">Lazimpat, Kathmandu</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half"></i>
        </div>
        <div class="desc-review">
            I love this place. I highly recommend this place to anyone who wants to get in shape.
             The trainers are really awesome and helpful, they make you feel really comfortable.
              The 45 min training goes super fast and you really enjoy doing it. Everyday is a new training,
               so it is never boring.
        </div>
      </div>
    </div>
  </div>

  <div class="reviews">
    <div class="review">
      <div class="head-review">
        <img
          src="{% static 'images/samita.jpg' %}"
          width="250px"
        />
      </div>
      <div class="body-review">
        <div class="name-review">Samita</div>
        <div class="place-review">Lalitpur</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half"></i>
        </div>
        <div class="desc-review">
            I love this place. I highly recommend this place to anyone who wants to get in shape.
             The trainers are really awesome and helpful, they make you feel really comfortable.
              The 45 min training goes super fast and you really enjoy doing it. Everyday is a new
               training, so it is never boring.
        </div>
      </div>
    </div>
    <div class="review">
      <div class="head-review">
        <img
          src="{% static 'images/poonam.jpg' %}"
          width="250px"
        />
      </div>
      <div class="body-review">
        <div class="name-review">Poonam</div>
        <div class="place-review">Lalitpur</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <div class="desc-review">
            First time joining a training facility like sweaty athletic and I have to say,
             what an experience it has been! From the work outs, to the amazing
              trainers! Always have been a shy person when it comes to working out
               with other people but the vibes from  sweaty atheletic are just something
                else! Thank you.
        </div>
      </div>
    </div>
    <div class="review">
      <div class="head-review">
        <img
          src="{% static 'images/yunika.jpg' %}"
          width="250px"
        />
      </div>
      <div class="body-review">
        <div class="name-review">Yunika</div>
        <div class="place-review">Chakrapath, kathmandu</div>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half"></i>
        </div>
        <div class="desc-review">
            Easily the best gym in the city, reasonably priced and a great workout atmosphere 
            – nice but not fancy, lots of people serious about fitness. Ive gotten some of my 
            best training advice from staff there. 
             Great people and great results! </br>
             Thankyou!</br>
             Sweaty Athletic

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>

{% include 'footer.html' %}
