{% include 'navbar.html' %}

<style>
  .btn {
    min-width: 0px;
    letter-spacing: 2px;
    height: 48px;
    border-radius: 48px;
    padding: 20px 24px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: row;
    font-family: FSHackney-regular, sans-serif;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(41, 22, 186);
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease-in 0s;
    text-decoration: none;
    width: 60%;
  }
</style>
<div class="vh-100 d-flex justify-content-center align-items-center mt-5 mb-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card bg-white">
          <div class="card-body p-3">
            <form class="mb-3 mt-md-4" method="post">
              {% csrf_token %}
              <h2 class="fw-bold mb-2 text-uppercase text-primary">
                Sweaty Athletic
              </h2>
              <p class="mb-5">Please enter details to register</p>
              <div class="alert alert-{{status}} d-{{obj}}" role="alert">
                {{message}}
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="name"
                  class="form-control"
                  id="name"
                  placeholder="Enter your name"
                  name="name"
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Enter your email"
                  name="email"
                />
              </div>

              <div class="mb-3">
                <label for="Mobile Number" class="form-label">Username</label>
                <input
                  type="mobile_number"
                  class="form-control"
                  id="mobile_Number"
                  placeholder="username"
                  name="username"
                />
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="*********"
                  name="password"
                />
              </div>

              <div class="mb-3">
                <label for="c_password" class="form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="con_password"
                  placeholder="*********"
                  name="cpassword"
                />
              </div>

              <div class="d-grid" style="margin-left: 30%">
                <button
                  class="btn btn-outline-primary text-center"
                  type="submit"
                >
                  Register
                </button>
              </div>
            </form>
            <div>
              <p class="mb-0 text-center">
                Already have an account?
                <a href="/login/" class="text-primary fw-bold">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
