*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background: black;
    color: white;

}
.navbar-brand{
    color: white;
    font-family: 'Dancing Script', cursive;
}
.navbar-brand:hover{
    color: white;
    
}

span{
    color: Blue;
    cursor: pointer;
    font-size: larger;
}
.nav-item{
    padding-right: 30px;
}
.nav-link{
    color: white;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.nav-link:hover{
    color: Blue;
}

.fitness{
    /* text-align: center; */
    font-family: 'Courier New', Courier, monospace;
    line-break: auto;
    font-weight: 700;
    align-content:center;
} 
.section{
    background: url(https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat;
    background-size: cover;
    height: 100vh;   
}
.caption{
    /* text-align: center; */
    line-break: auto;
    font-weight: 200;
    align-content:center;
}
#startnow{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
#para{
    font-family:'Times New Roman', Times, serif;
    color:#302930;
    font-size: medium;
}
.btn{
    height: 55px;
    width: 200px;
    color: white;
    outline: none;
    border: none;
    background: linear-gradient(90deg, #ADD8E6 0%, #302930 100%);
    transition: 1 sec;
}
.btn:hover{
    background: linear-gradient(90deg, #302930 0%, #ADD8E6 100%);
    transition: all 1s;
}
#button {
    font-weight: 500;
    font-size: 14px;
  
    text-align: center;
  
    /* / Primary Color / */
}
/* ==============services=============== */
.services h5{
    font-weight: 700;
}

/* Footer  */

.footer{
    background-color: black;
    color: white;

}
.footer h4 {
    font-size: 1.5 rem;
    font-family: 'Times New Roman', Times, serif;
}
.footer p{
    margin: 0;
    color: white;
}
.link{
    cursor: pointer;
    transition: all 0.5s;
}
.link:hover{
    color:rgb(28, 139, 173);
    padding-left: 5px;
    transition: all 0.5s;
}
.fa-angle-double-right{
    font-size: 18px;
    color: white;
}
.social{
    color: white;
    font-size: 24px;
    transition: all 0.4s;
}
.social:hover{
    color:rgb(28, 139, 173);
    transition: all 0.4s;
    cursor: pointer;
}
.footer .card{
    background:rgb(215, 220, 226);
    border-radius: 0;
    margin-top: 50px;
    
}
.kenzie{
    color:white;
}

