/*
* All Font-Family, Font-Size:
* All Common Font Colors for major titles/headings class
* Major Components which will be shared accross multiple pages 
*/

/* @import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"); */

#box-shadow {
  box-shadow: 0px 2px 2px 2px rgba(185, 185, 185, 0.25);
}

#loan {
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* border-top: 3px solid #f1be32;
  border-bottom: 3px solid #f1be32; */
}

#loantype {
  font-size: 18px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ae1f19;
}

.yolo {
  font-family: "SF Pro Text";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
/* .yolo.required:after {
    content: "*";
    color: red;
}
.star {
    color: #ae1f19;
} */

.form-control {
  box-sizing: border-box;
  top: 25.68%;
  bottom: 27.03%;

  background: #ffffff;
  border: 1px solid #a6a6a6;
  border-radius: 3px;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #cccccc;
}

.form-select {
  box-sizing: border-box;
  top: 25.68%;
  bottom: 27.03%;

  background: #ffffff;
  border: 1px solid #a6a6a6;
  border-radius: 3px;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: grey;
}

#btn {
  text-align: center;
  bottom: 8.16%;
  box-sizing: border-box;
}

#btn1 {
  font-weight: 500;
  font-size: 14px;

  text-align: center;

  /* / Primary Color / */
}


