{% include 'admin_dashboard/upper.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    .card{
        border: 5px solid white;
        border-radius: 15px;
        color: white;
        background:#282828 ;
    }
    .head{
        font-size: 2.5rem;
    }

    .form-input1 input{
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        width: 29rem;
        margin-bottom: 10px;
        padding: 10px;
        background: #282828 ;

    }
    .signup{
        background-color: #414141;
        color: white;
    }
    .signup:hover{
        background-color: white;
        color: #282828;
    }
       

</style>

<div class="app-wrapper">
	    
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            
            <h1 class="app-page-title">Add Trainer</h1>
            

            <div class="container mt-5 mb-5">

                <div class="row d-flex align-items-center justify-content-center">
    
                  <div class="col-md-6">
    
    
                    <div class="card px-5 py-5">
    
                      <h5 class=" text-white head">Add Details</h5>
                      
                      <hr>

                      <div class="form-input1">
                        <input type="text" class="form-control1" placeholder="Email address">
                      </div>
    
                      <div class="form-input1">
                        <input type="text" class="form-control1" placeholder="User name">           
                      </div>
    
    
                      <div class="form-input1">
                        <input type="text" class="form-control1" placeholder="password">
                      </div>

                      <div class="form-input1">
                        <input type="text" class="form-control1" placeholder="Name">
                      </div>

                      <div class="form-input1">
                        <input type="text" class="form-control1" placeholder="Location">
                      </div>

                      <div class="form-input1">
                        <label>Profile Picture : </label>
                        <input type="file" class="form-control1" placeholder="Profile Image">
                      </div>
    
    
                      <button class="btn btn-primary mt-4 signup">Add</button>
                    </div>
    
    
                    
                  </div>
                  
                </div>
                
              </div>


        </div>
    </div>
</div>


<script src="/static/customer_dashboard/plugins/popper.min.js"></script>
    <script src="/static/customer_dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>  
    
    <!-- Page Specific JS -->
    <script src="/static/customer_dashboard/js/app.js"></script> 

</body>
</html>