{% include 'admin_dashboard/upper.html' %}

<style>
    .checked {
    color: orange;
    }
    a .btn1{
        background: #282828 ;
        color: white;
        padding: 2px 10px 2px 10px;
        border: 0px;
    }
    a .btn2{
        background: white;
        color: #282828 ;
        padding: 1px 9px 1px 9px;
        border: 1px;
    }
    a .btn2:hover{
        background: rgb(247, 247, 247);
        color: #282828 ;
        padding: 1px 9px 1px 9px;
        border: 1px;
    }
    a .btn1:hover{
        background: #414141 ;
        color: white;
        padding: 2px 10px 2px 10px;
        border: 0px;
    }
    .btn3{
        background: #282828 ;
        color: white; 
    }
    .btn3:hover{
        background: #414141 ;
        color: white; 
    }
</style>


<div class="app-wrapper">
	    
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="position-relative mb-3">
                <div class="row g-3 justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">Reviews</h1>
                    </div>
                </div>
            </div>
            
            <div class="alert alert-{{status}} d-{{obj}}" style="margin-left:25px; width:75%;" role="alert">
                {{message}}
              </div>
            <div class="d-{{dis1}}">
                {% for i in reviews %}
                <div class="app-card app-card-notification shadow-sm mb-4">
                    <div class="app-card-header px-4 py-3">
                        <div class="row g-3 align-items-center">
                            <div class="col-12 col-lg-auto text-center text-lg-start">						        
                                {%if request.user.profile_image  %}
                                        <img class="profile-image" src="{{i.User.profile_image.url}}" alt="user profile">
                                    {% else %}
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                        </svg> 
                                    {% endif %}
                            </div><!--//col-->
                            <div class="col-12 col-lg-auto text-center text-lg-start">
                                <h4 class="notification-title mb-1">{{i.User.username}}</h4>
                                
                                <ul class="notification-meta list-inline mb-0">
                                    <li class="list-inline-item">{{i.time}}</li>
                                    {% if i.bookmarked %}
                                        <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                                          </svg>bookmarked</li>
                                    {% endif %}
                                    {% if i.verified %}
                                    <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                      </svg> verified</li>
                                    {% endif %}
                                </ul>
                        
                            </div><!--//col-->
                        </div><!--//row-->
                    </div><!--//app-card-header-->
                    <div class="app-card-body p-4 row">
                        <div class="notification-content col-8">{{i.content}}</div>
                        <div class="col-3"> 
                            {% if i.Rating == "1" %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            {% elif i.Rating == "2" %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            {% elif i.Rating == "3" %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            {% elif i.Rating == "4" %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            {% else %}
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            {% endif %}
                            
                        </div>
                        <div class="col-1">
                            <a href="/admin_dashboard/Reviews/?del={{i.id}}" class="del"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                                <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                              </svg></a>
                        </div>
                        <div class=" page-utilities sbtn mt-3">
                            <a href="/admin_dashboard/Reviews/?bookmark={{i.id}}"><button class="btn1">Bookmark</button></a>
                            <a href="/admin_dashboard/Reviews/?verify={{i.id}}"><button class="btn2">Verify</button></a>
                        </div><!--//page-utilities-->
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
                {% endfor %}
                <!--//app-card-->


               
                </div>
                
               
                
                <!-- <div class="text-center mt-4"><a class="btn app-btn-secondary" href="#">Load more reviews</a></div> -->
            </div>

        </div><!--//container-fluid-->
    </div><!--//app-content-->
    
</div><!--//app-wrapper-->    					


<!-- Javascript -->          
<script src="/static/customer_dashboard/plugins/popper.min.js"></script>
<script src="/static/customer_dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>  

<!-- Page Specific JS -->
<script src="/static/customer_dashboard/js/app.js"></script> 

</body>
</html> 