{% include 'admin_dashboard/upper.html' %}

<style>
    .gradient-custom {
    /* fallback for old browsers */
    background: #282828;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, #282828, #414141);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom,#282828, #414141)
    }
    .pcard{
        width: 37rem;
    }
    .btn1{
    background: #282828 ;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }
  .btn1:hover{
    background: #414141 ;
    color: white;
  }
  .socio a{
        color: blue;
    }
    .socio a:hover{
        color: rgb(1, 1, 120);
    }
</style>

<div class="app-wrapper">
	    
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            
            <div class="position-relative mb-3">
                <div class="row g-3 justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">Trainer Details</h1>
                    </div>
                    <div class="col-auto">
                        <div class=" page-utilities sbtn">
                            <a href="/admin_dashboard/trainer_details/add_trainer/"><button class="btn1">Add Trainer</button></a>
                        </div><!--//page-utilities-->
                    </div>
                </div>
            </div>
            <div class="row">

                <section class="col-lg-6">
                    <div class="container py-2 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-lg-6 mb-4 mb-lg-0 pcard">
                        <div class="card mb-3" style="border-radius: .5rem;">
                            <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="/static/customer_dashboard/images/profiles/profile-4.png"
                                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                                <h5 class="text-white">Sim kim</h5>
                                
                                <a href="/admin_dashboard/trainer_details/edit" class="text-white"><i class="far fa-edit mb-5"></i></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <p class="text-muted">info@example.com</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                    <h6>Phone</h6>
                                    <p class="text-muted">123 456 789</p>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <h6>Address</h6>
                                    <p class="text-muted">New York</p>
                                    </div>
                                <h6>Experiences</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                    <h6>Recent</h6>
                                    <p class="text-muted">Lorem ipsum</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                    <h6>Past Experiences</h6>
                                    <p class="text-muted">Dolor sit amet</p>
                                    </div>
                                </div>
                                <div class="socio d-flex justify-content-start">
                                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </section>

                <section class="col-lg-6">
                    <div class="container py-2 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-lg-6 mb-4 mb-lg-0 pcard">
                        <div class="card mb-3" style="border-radius: .5rem;">
                            <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="/static/customer_dashboard/images/profiles/profile-3.png"
                                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                                <h5 class="text-white">Marie Horwitz</h5>
                                
                                <a href="/appadmin/trainer_details/edit" class="text-white"><i class="far fa-edit mb-5"></i></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <p class="text-muted">info@example.com</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                    <h6>Phone</h6>
                                    <p class="text-muted">123 456 789</p>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <h6>Address</h6>
                                    <p class="text-muted">New York</p>
                                    </div>
                                <h6>Experiences</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                    <h6>Recent</h6>
                                    <p class="text-muted">Lorem ipsum</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                    <h6>Past Experiences</h6>
                                    <p class="text-muted">Dolor sit amet</p>
                                    </div>
                                </div>
                                <div class="socio d-flex justify-content-start">
                                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </section>
            </div>


            <div class="row">

                <section class="col-lg-6">
                    <div class="container py-2 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-lg-6 mb-4 mb-lg-0 pcard">
                        <div class="card mb-3" style="border-radius: .5rem;">
                            <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="/static/customer_dashboard/images/profiles/profile-4.png"
                                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                                <h5 class="text-white">Sim kim</h5>
                                
                                <a href="/appadmin/trainer_details/edit" class="text-white"><i class="far fa-edit mb-5"></i></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <p class="text-muted">info@example.com</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                    <h6>Phone</h6>
                                    <p class="text-muted">123 456 789</p>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <h6>Address</h6>
                                    <p class="text-muted">New York</p>
                                    </div>
                                <h6>Experiences</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                    <h6>Recent</h6>
                                    <p class="text-muted">Lorem ipsum</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                    <h6>Past Experiences</h6>
                                    <p class="text-muted">Dolor sit amet</p>
                                    </div>
                                </div>
                                <div class="socio d-flex justify-content-start">
                                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </section>

                <section class="col-lg-6">
                    <div class="container py-2 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-lg-6 mb-4 mb-lg-0 pcard">
                        <div class="card mb-3" style="border-radius: .5rem;">
                            <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="/static/customer_dashboard/images/profiles/profile-3.png"
                                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                                <h5 class="text-white">Marie Horwitz</h5>
                                
                                <a href="/appadmin/trainer_details/edit" class="text-white"><i class="far fa-edit mb-5"></i></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <p class="text-muted">info@example.com</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                    <h6>Phone</h6>
                                    <p class="text-muted">123 456 789</p>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <h6>Address</h6>
                                    <p class="text-muted">New York</p>
                                    </div>
                                <h6>Experiences</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                    <h6>Recent</h6>
                                    <p class="text-muted">Lorem ipsum</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                    <h6>Past Experiences</h6>
                                    <p class="text-muted">Dolor sit amet</p>
                                    </div>
                                </div>
                                <div class="socio d-flex justify-content-start">
                                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </section>
            </div>


        </div>
    </div>
</div>


<script src="/static/customer_dashboard/plugins/popper.min.js"></script>
    <script src="/static/customer_dashboard/plugins/bootstrap/js/bootstrap.min.js"></script>  
    
    <!-- Page Specific JS -->
    <script src="/static/customer_dashboard/js/app.js"></script> 

</body>
</html>